body {
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #f4f6f800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artigos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  background: #ffffff1f;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(7, 86, 255, 0.10);
  padding: 32px 24px;
  align-items: center;
}

.article {
  background: #ffffff07;
  border-radius: 6px;         
  padding: 24px 28px;         
  width: 320px;               
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 12px rgba(141, 156, 189, 0.5);
}

.article:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(24, 105, 255, 0.445);
}

.artigos h2 {
  color: #0077ff;
}

.h2 {
  font-size: 1.2rem;
  color: #0077ff;
  margin-bottom: 8px;
}

.p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 15px;
}

.plano ul li {
  margin: 8px ;
  color: #555;
}

.ler-mais {
  background-color: transparent;
  color: #0077ff;
  border: 2px solid #0077ff;
  padding: 8px 16px;
  font-size: 0.85rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

.ler-mais:hover {
  background-color: #0077ff;
  color: white;
}

